@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
    transform-style: preserve-3d;
}

/* nav bar and other stuff */
.home1{
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to left bottom, #870000, #970016, #a70028, #b5003b, #c2004f, #c40060, #c20072, #be0085, #a90e96, #8c20a6, #642fb4, #003abe);
  /* background-image: linear-gradient(to right top, #232223, #272029, #281e31, #261c3a, #201c44, #1f2855, #183467, #004179, #005d90, #007692, #008d80, #00a161); */
}
header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo{
  position: relative;
  max-width: 200px;
  border-radius: 20px;
}
header ul{
  position: relative;
  display: flex;
}
header ul li{
  list-style: none;
}
header ul li a{
  display: inline-block;
  color: #333;
  font-weight: 400px;
  margin-left:  40px;
  text-decoration: none;
}
.content{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
.content .textBox{
  position: relative;
  max-width: 600px;
}
.content .textBox h2{
  color: #333;
  font-size: 4em;
  line-height: 1.4em;
  font-weight: 500;
}
.content .textBox h2 span{
  color: #003abe;
  font-size: 1.2em;
  font-weight: 900;
}
.content .textBox p{
  color: #333;
}
.content .textBox a{
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  background: #017143;
  color: #fff;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
}
.content .imgBox{
  width: 600px;
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
  margin-top: 50px;
  
}
.leo{
  max-width: 340px;
  border-radius: 20px;
}
.thumb{
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translate(-50%);
  display: flex;
}
.thumb li img{
  max-width: 60px;
  border-radius: 20px;
}
.thumb li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
  transition: 0.5s;
}
.thumb li:hover{
  transform: translateY(-15px);
}
.circle{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: blue;
  clip-path: circle(600px at right 800px);
}
/* nav bar and other stuff */

/* about */
/* about other */
.focus{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.focus h2{
    position: relative;
    color: #fff;
    font-size: 12rem;
    text-transform: uppercase;
    font-weight: 800;
    z-index: 2;
    transition: 2s;
}
.focus h2:hover{
    filter: blur(10px);
    transform: scale(1.2);
}
.focus img{
    position: absolute;
    top: -20px;
    left: -20px;
    width: 140%;
    height: 140%;
    pointer-events: none;
    filter: blur(20px);
    transition: 2s;
}
.focus h2:hover ~ img{
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    filter: blur();
}
/* about other end */
.containera{
  position: relative;
  width: 1050px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  left: 130px;
}
.containera .carda{
  position: relative;
  width: 330px;
  height: 420px;
  margin: 5px;
  overflow: hidden;
}
.containera .carda span{
  position: absolute;
  display: block;
  width: 0px;
  height: 0px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 0.95;
  background: #9c27b0;
  z-index: 1;
  transition: width 0.5s, height 0.5s;
}
.containera .carda:hover span{
  width: 1000px;
  height: 1000px;
}
.containera .carda .imgBxa{
  position: absolute;
  top: 0;
  width: 0;
  width: 100%;
  height: 100%;
}
.containera .carda .imgBxa img{
  position: absolute;
  top: 0;
  width: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.containera .carda .contenta{
  position: absolute;
  top: 0;
  width: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.containera .carda .contenta div{
  padding: 40px;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.2s;
}
.containera .carda:hover .contenta div{
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
}
/* about end */
/* comrades */
.containern{
  position: relative;
  width: 400px;
  height: 400px;
  left: 460px;
}
.containern .thumbn{
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);

}
.containern .thumbn li{
  list-style: none;
  width: 100px;
  height: 100px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  backdrop-filter: blur(4px);
}
.containern .thumbn li img{
  max-width: 90px;
  border-radius: 20px;
  transition: 0.5s;
}
.containern .thumbn li:hover img{
  transform: rotate(-35deg);
}
.containern .imgBxn{
  position: absolute;
  top: 0;
  right: 0;
  width: 350px;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  backdrop-filter: blur(4px);
  padding: 60px 20px;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
}
.containern .imgBxn img{
  max-width: 80%;
  transition: 0.25s;
}
.containern .imgBxn img:hover{
  transform: scale(1.5) rotate(-15deg);
}
.containern .imgBxn h2{
  color: #fff;
  letter-spacing: 1;
}
.containern .imgBxn .size{
  display: flex;
  justify-content: center;
  align-self: center;

}

/* his allies info */
.containerc{
  position: relative;
  display: flex;
  left: 100px;
}
.containerc .cardc{
  position: relative;
  width: 320px;
  height: 450px;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
}
.containerc .cardc::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #9bdc28;
  clip-path: circle( 150px at 80% 20%);
  transition: 0.5s ease-in-out;
}
.containerc .cardc:hover::before{
  clip-path: circle(300px at 80% -20px);
  
}
.containerc .cardc::after{
  content: "Nike";
  position: absolute;
  top: 30%;
  left: -20px;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255, 255, 255, 0.04);
}
.containerc .cardc .imgBxc{
  position: absolute;
  top: 50%;
  transform: translateY(-50px);
  z-index: 10000;
  width: 100%;
  height: 200px;
  transition: 0.5s;
}
.containerc .cardc:hover .imgBxc{
  top: 0%;
  transform: translate(0%);
}
.containerc .cardc .imgBxc img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-25deg);
  width: 270px;
}
.containerc .cardc .contentc{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}
.containerc .cardc:hover .contentc{
  height: 210px;
}
.containerc .cardc .contentc h2{
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: white;
}
.containerc .cardc .contentc .size{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}
.containerc .cardc:hover .contentc .size{
  opacity: 1;
  visibility: visible;
}
/* his allies info end */
/* comrades end */
/* muzan stuff */
.containerk{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
    transform-style: preserve-3d;
  }
  .containerk .boxk{
    position: relative;
    width: 450px;
    height: 250px;
    margin: 60px 0;
    background: #000;
    background: #000;
    transform-style: preserve-3d;
    border-radius: 20px;
  }
  .containerk .boxk:hover{
    box-shadow: 0 50px 80px rgba(0, 0, 0, .2);
  }
  .containerk .boxk .imgBxk{
    position: absolute;
    /* top: 0;
    left: 0; */
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
  .containerk .boxk .imgBxk img{
    border-radius: 20px;
    max-width: 7000px;
  }
  .containerk .boxk  .contentBxk {
    position: absolute;
    top: 50%;
    left: 50px;
    right: 50px;
    background: #fff;
    transform: translateZ( 20px) scaleY(0);
    padding: 40px 25px;
    transform-origin: top;
    transition: 0.5s;
    transform-style: preserve-3d;
  }
  .containerk .boxk:hover .contentBxk{
    transform: translateZ(200px) scaleY(1);
  
  }
  /* muzan himself end */
  .box{
    position: relative;
    width: 400px;
    height: 400px;
    /* top: 900px; */
    left: 280px;
    background: repeating-conic-gradient(from var(--a), #ff2770 0%,
    #ff2770 5%, transparent 5%, transparent 40%, #ff2770 50%);
    animation: animate 4s linear infinite;
    border-radius: 20px;
  }
  @property --a{
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
  }
  @keyframes animate{
    0%{
      --a: 0deg;
    }
    100%{
      --a: 360deg;
    }
  }
  .box::before{
    content: '';
    position: absolute;
    width: 400px;
    height: 400px;
    background: repeating-conic-gradient(from var(--a), #45f3ff 0%,
    #45f3ff 5%, transparent 5%, transparent 40%, #45f3ff 50%);
    animation: animate 4s linear infinite;
    animation-delay: -1s;
    border-radius: 20px;
  }
  /* .box::after{
    content: '';
    position: absolute;
    inset: 8px;
    background: #2d2d39;
    border-radius: 15px;
    border: 8px solid #25252b;
  } */
  .innerbox{
    content: '';
    position: absolute;
    inset: 8px;
    background: #2d2d39;
    border-radius: 15px;
    border: 8px solid #25252b;
    text-align: center;
  }
  .innerbox img{
    max-width: 370px;
    border-radius: 10px;
  }
  .innerbox h1{
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.05);
    pointer-events: none;
  }
  /* .innerbox p{
    font-size: 1rem;
    color: #fff;
    font-weight: 300;
    text-align: center;
  } */
  .boxes1{
    display: flex;
  }
  .innerbox p{
    --max-lines: 3;
    --line-height: 1.4;
    max-height: calc(var(--max-lines)*1rem*var(--line-height));
    line-height: var(--line-height);
    overflow: hidden;
    position: relative;
  }
  .innerbox p::before{
  content: "";
  position: absolute;
  height: calc(1em *var( --line-height));
  width: 100%;
  bottom: 0;
  pointer-events: none;
  }
  .innerbox .expand{
  appearance: none;
  cursor: pointer;
  padding: 5px;
  }
  .innerbox .expand::before{
  content: "See more";
  color: blue;
  }
  .innerbox .expand:checked::before{
  content: "See less";
  }
  .innerbox p:has(+ .expand:checked){
  max-height: none;
  }
  /* box2*/
  .box2{
    position: relative;
    width: 400px;
    height: 400px;
    /* top: 900px; */
    left: 280px;
    background: repeating-conic-gradient(from var(--a), #002BC6 0%,
    #002BC6 5%, transparent 5%, transparent 40%, #002BC6 50%);
    animation: animate 4s linear infinite;
    border-radius: 20px;
  }
  @property --a{
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
  }
  @keyframes animate{
    0%{
      --a: 0deg;
    }
    100%{
      --a: 360deg;
    }
  }
  .box2::before{
    content: '';
    position: absolute;
    width: 400px;
    height: 400px;
    background: repeating-conic-gradient(from var(--a), #45f3ff 0%,
    #45f3ff 5%, transparent 5%, transparent 40%, #45f3ff 50%);
    animation: animate 4s linear infinite;
    animation-delay: -1s;
    border-radius: 20px;
  }
  /* .box2::after{
    content: '';
    position: absolute;
    inset: 8px;
    background: #2d2d39;
    border-radius: 15px;
    border: 8px solid #25252b;
  } */
  .innerbox2{
    content: '';
    position: absolute;
    inset: 8px;
    background: #2d2d39;
    border-radius: 15px;
    border: 8px solid #25252b;
    text-align: center;
  }
  .innerbox2 img{
    max-width: 370px;
    border-radius: 10px;
  }
  .innerbox2 h1{
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.05);
    pointer-events: none;
  }
  .innerbox2 p{
    font-size: 1rem;
    color: #fff;
    font-weight: 300;
    text-align: center;
  }
  .boxes2{
    display: flex;
  }
  
  
  .innerbox2 p{
    --max-lines: 3;
    --line-height: 1.4;
    max-height: calc(var(--max-lines)*1rem*var(--line-height));
    line-height: var(--line-height);
    overflow: hidden;
    position: relative;
  }
  .innerbox2 p::before{
  content: "";
  position: absolute;
  height: calc(1em *var( --line-height));
  width: 100%;
  bottom: 0;
  pointer-events: none;
  }
  .innerbox2 .expand{
  appearance: none;
  cursor: pointer;
  padding: 5px;
  }
  .innerbox2 .expand::before{
  content: "See more";
  color: blue;
  }
  .innerbox2 .expand:checked::before{
  content: "See less";
  }
  .innerbox2 p:has(+ .expand:checked){
  max-height: none;
  }
  /* box3*/
  .box3{
    position: relative;
    width: 400px;
    height: 400px;
    /* top: 900px; */
    left: 280px;
    background: repeating-conic-gradient(from var(--a), #001D85 0%,
    #001D85 5%, transparent 5%, transparent 40%, #001D85 50%);
    animation: animate 4s linear infinite;
    border-radius: 20px;
  }
  @property --a{
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
  }
  @keyframes animate{
    0%{
      --a: 0deg;
    }
    100%{
      --a: 360deg;
    }
  }
  .box3::before{
    content: '';
    position: absolute;
    width: 400px;
    height: 400px;
    background: repeating-conic-gradient(from var(--a), #001769 0%,
    #001769 5%, transparent 5%, transparent 40%, #001769 50%);
    animation: animate 4s linear infinite;
    animation-delay: -1s;
    border-radius: 20px;
  }
  /* .box3::after{
    content: '';
    position: absolute;
    inset: 8px;
    background: #2d2d39;
    border-radius: 15px;
    border: 8px solid #25252b;
  } */
  .innerbox3{
    content: '';
    position: absolute;
    inset: 8px;
    background: #2d2d39;
    border-radius: 15px;
    border: 8px solid #25252b;
    text-align: center;
  }
  .innerbox3 img{
    max-width: 370px;
    border-radius: 10px;
  }
  .innerbox3 h1{
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.05);
    pointer-events: none;
  }
  .innerbox3 p{
    font-size: 1rem;
    color: #fff;
    font-weight: 300;
    text-align: center;
  }
  .boxes3{
    display: flex;
  }
  /* see more */
  .innerbox3 p{
    --max-lines: 3;
    --line-height: 1.4;
    max-height: calc(var(--max-lines)*1rem*var(--line-height));
    line-height: var(--line-height);
    overflow: hidden;
    position: relative;
  }
  .innerbox3 p::before{
  content: "";
  position: absolute;
  height: calc(1em *var( --line-height));
  width: 100%;
  bottom: 0;
  pointer-events: none;
  }
  .innerbox3 .expand{
  appearance: none;
  cursor: pointer;
  padding: 5px;
  }
  .innerbox3 .expand::before{
  content: "See more";
  color: blue;
  }
  .innerbox3 .expand:checked::before{
  content: "See less";
  }
  .innerbox3 p:has(+ .expand:checked){
  max-height: none;
  }
  /* box4*/
  .box4{
    position: relative;
    width: 400px;
    height: 400px;
    /* top: 900px; */
    left: 280px;
    background: repeating-conic-gradient(from var(--a), #006909 0%,
    #006909 5%, transparent 5%, transparent 40%, #006909 50%);
    animation: animate 4s linear infinite;
    border-radius: 20px;
  }
  @property --a{
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
  }
  @keyframes animate{
    0%{
      --a: 0deg;
    }
    100%{
      --a: 360deg;
    }
  }
  .box4::before{
    content: '';
    position: absolute;
    width: 400px;
    height: 400px;
    background: repeating-conic-gradient(from var(--a), #07E91A 0%,
    #07E91A 5%, transparent 5%, transparent 40%, #07E91A 50%);
    animation: animate 4s linear infinite;
    animation-delay: -1s;
    border-radius: 20px;
  }
  /* .box4::after{
    content: '';
    position: absolute;
    inset: 8px;
    background: #2d2d39;
    border-radius: 15px;
    border: 8px solid #25252b;
  } */
  .innerbox4{
    content: '';
    position: absolute;
    inset: 8px;
    background: #2d2d39;
    border-radius: 15px;
    border: 8px solid #25252b;
    text-align: center;
  }
  .innerbox4 img{
    max-width: 370px;
    border-radius: 10px;
  }
  .innerbox4 h1{
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.05);
    pointer-events: none;
  }
  .innerbox4 p{
    font-size: 1rem;
    color: #fff;
    font-weight: 300;
    text-align: center;
  }
  .boxes4{
    display: flex;
  }
  /* see more */
  .innerbox4 p{
    --max-lines: 3;
    --line-height: 1.4;
    max-height: calc(var(--max-lines)*1rem*var(--line-height));
    line-height: var(--line-height);
    overflow: hidden;
    position: relative;
  }
  .innerbox4 p::before{
  content: "";
  position: absolute;
  height: calc(1em *var( --line-height));
  width: 100%;
  bottom: 0;
  pointer-events: none;
  }
  .innerbox4 .expand{
  appearance: none;
  cursor: pointer;
  padding: 5px;
  }
  .innerbox4 .expand::before{
  content: "See more";
  color: blue;
  }
  .innerbox4 .expand:checked::before{
  content: "See less";
  }
  .innerbox4 p:has(+ .expand:checked){
  max-height: none;
  }
  /* box5*/
  .box5{
    position: relative;
    width: 400px;
    height: 400px;
    /* top: 900px; */
    left: 280px;
    background: repeating-conic-gradient(from var(--a), #810000 0%,
    #810000 5%, transparent 5%, transparent 40%, #810000 50%);
    animation: animate 4s linear infinite;
    border-radius: 20px;
  }
  @property --a{
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
  }
  @keyframes animate{
    0%{
      --a: 0deg;
    }
    100%{
      --a: 360deg;
    }
  }
  .box5::before{
    content: '';
    position: absolute;
    width: 400px;
    height: 400px;
    background: repeating-conic-gradient(from var(--a), #D80000 0%,
    #D80000 5%, transparent 5%, transparent 40%, #D80000 50%);
    animation: animate 4s linear infinite;
    animation-delay: -1s;
    border-radius: 20px;
  }
  /* .box5::after{
    content: '';
    position: absolute;
    inset: 8px;
    background: #2d2d39;
    border-radius: 15px;
    border: 8px solid #25252b;
  } */
  .innerbox5{
    content: '';
    position: absolute;
    inset: 8px;
    background: #2d2d39;
    border-radius: 15px;
    border: 8px solid #25252b;
    text-align: center;
  }
  .innerbox5 img{
    max-width: 370px;
    border-radius: 10px;
  }
  .innerbox5 h1{
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.05);
    pointer-events: none;
  }
  .innerbox5 p{
    font-size: 1rem;
    color: #fff;
    font-weight: 300;
    text-align: center;
  }
  .boxes5{
    display: flex;
  }
  /* see more */
  .innerbox5 p{
    --max-lines: 3;
    --line-height: 1.4;
    max-height: calc(var(--max-lines)*1rem*var(--line-height));
    line-height: var(--line-height);
    overflow: hidden;
    position: relative;
  }
  .innerbox5 p::before{
  content: "";
  position: absolute;
  height: calc(1em *var( --line-height));
  width: 100%;
  bottom: 0;
  pointer-events: none;
  }
  .innerbox5 .expand{
  appearance: none;
  cursor: pointer;
  padding: 5px;
  }
  .innerbox5 .expand::before{
  content: "See more";
  color: blue;
  }
  .innerbox5 .expand:checked::before{
  content: "See less";
  }
  .innerbox5 p:has(+ .expand:checked){
  max-height: none;
  }
  
  
  
  /* upper 6 */
  section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    width: 1100px;
  }
  section .cardm{
    position: relative;
    width: 320px;
    height: 320px;
    margin: 20px;
    transform-style: preserve-3d;
    perspective: 1000px;
  }
  section .cardm .boxm{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 1s ease;
  }
  section .cardm:hover .boxm{
    transform: rotateY(180deg);
  }
  section .cardm .boxm .imgBxm{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  section .cardm .boxm .imgBxm img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;    
  }
  section .cardm .boxm .contentBxm{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
  }
  section .cardm .boxm .contentBxm div{
    transform-style: preserve-3d;
    padding: 20px;
    background-image: linear-gradient(to right top, #780000, #75001e, #690033, #560043, #3b114d, #311246, #28133e, #201236, #210d26, #1d0819, #14030c, #000000);
    transform: translateZ(100px);
  }
  section .cardm .boxm .contentBxm div h2 {
    color: #fff;
    font-size: 20px;
    letter-spacing: 1px;
  }
  section .cardm .boxm .contentBxm div p{
    color: #fff;
    font-size: 16px;
  }
/* muzan stuff end */
.boxh{
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    transition: 1.5s;
    transform: perspective(1000px) rotateY(0deg);
    left: 150px;
}
.boxh span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(300px);
    -webkit-box-reflect: below 0 linear-gradient(transparent, transparent, #0004)  ;
}

.boxh span img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
}
.btns{
    position: relative;
    bottom: -50px;
    display: flex;
    gap: 30px;
    left: 150px;
}
.btns .btn{
    position: relative;
    width: 60px;
    height: 60px;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.btns .btn:active{
    background: #fff;
}
.btns .btn::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-top: 3px solid #fff ;
    border-right: 3px solid #fff ;
    transform: rotate(45deg) translate(-2.5px,2.5px);
}
.btns .btn.prev::before{
    transform: rotate(225deg) translate(-2.5px,2.5px);
}
.btns .btn:active::before{
    border-top: 3px solid #000;
    border-right: 3px solid #000;
}



/* the hashiras */
.hash2{
    position: relative;
    top: 100px;
    left: 200px;
    display: block;
}
.containerh2{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerh2:hover .glass{
    transform: rotate(0deg);
    margin: 0 20px;
}
.containerh2 .glass{
    position: relative;
    width: 200px;
    height: 240px;
    background: linear-gradient(#fff2, transparent);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 10px;
    margin: 0 -45px;
    transform: rotate(calc(var(--r) * 1deg));
}
.containerh2 .glass::before{
    content: attr(data-text );
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: rgba(255, 255, 255, 0.05);
    display: flex;
    text-align: center;
    justify-content: center;
    color: #fff;
}

/* hashira 2 */
.containerh3{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerh3:hover .glass3{
    transform: rotate(0deg);
    margin: 0 20px;
}
.containerh3 .glass3{
    position: relative;
    width: 200px;
    height: 240px;
    background: linear-gradient(#fff2, transparent);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 10px;
    margin: 0 -45px;
    transform: rotate(calc(var(--r) * 1deg));
}
.containerh3 .glass3::before{
    content: attr(data-text );
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: rgba(255, 255, 255, 0.05);
    display: flex;
    text-align: center;
    justify-content: center;
    color: #fff;
}

/* hashira 3*/
.containerh4{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerh4:hover .glass4{
    transform: rotate(0deg);
    margin: 0 20px;
}
.containerh4 .glass4{
    position: relative;
    width: 200px;
    height: 240px;
    background: linear-gradient(#fff2, transparent);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 10px;
    margin: 0 -45px;
    transform: rotate(calc(var(--r) * 1deg));
}
.containerh4 .glass4::before{
    content: attr(data-text );
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: rgba(255, 255, 255, 0.05);
    display: flex;
    text-align: center;
    justify-content: center;
    color: #fff;
}
